header {
  color: red;
  background: green;
}
header {
  padding: 1em; /* em units */
  width: 500px;
  height: 2cm;
  border: 2mm ridge rgba(21, 220, 50, .6);
}
nav ul li {
  margin-top: 2rem;
  font-size: 90%;
}
#agenda {
  color: red;
  margin: 10px 20px 15px 5px;
}
